# --- BAZA DANYCH POSTGRESQL ---
POSTGRES_USER=postgres
POSTGRES_PASSWORD=twoje_haslo_tutaj
POSTGRES_DB=lan_manager

# --- POŁĄCZENIE DLA BACKENDU (FASTAPI) ---
DATABASE_URL=postgresql+asyncpg://postgres:twoje_haslo_tutaj@127.0.0.1:5432/lan_manager